*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .mainContainer{
        .mainBox{
            width:180px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border:1px solid #000;

            &:hover{
                img{
                    transform: scale(1.2);
                    // transition: all 0.7s;
                }

                .boxText{
                    // transition: all 0.7s;

                    .boxBtn{

                        .price{
                            display: none;

                        }
                        .basket{
                            display: block;
                        }
                    }
                }

            }
            .boxImg{
                width:200px;
                img{
                    width:100%;
                }
            }
            .boxText{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                .boxBtn{
                    width:150px;
                    .price{

                    }
                    .basket{
                        display: none;
                    }
                }
            }
        }
    }
}